.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px 5%;
}

.filters {
  padding: 0 5%;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}